<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <base href="/">
    <meta name="google" content="notranslate">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="tsumuchicken" />
    <meta property="og:type" content="game.app" />
    <meta property="og:description" content="" />
    <title>tsumuchicken</title>
    <link rel="icon" type="image/png" href="./img/chicken-icon.png" />
    <base href="/">
  </head>

  <body style="height: 100%;">
    <div style="height: 100%; display: flex; align-items: center;">
      <div class="main-container" style="width: 360px; height: 640px; margin: auto;"></div>
    </div>
  </body>
</html>
